html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-block {
  font-size: 17px;
  font-family: "Cuprum", Arial, sans-serif;
}

.header-top {
  background: #33445A;
}

.header-top-wrapper {
  display: flex;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  background: #EE3643;
  font-size: 24px;
  line-height: 42px;
  width: 220px;
  box-shadow: #B52933 0px 5px 0px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.logo:hover {
  background: #CA2C37;
}

.logo:active {
  background: #BA2732;
}

.search-top input {
  font-family: "Cuprum", sans-serif, Arial;
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
  height: 32px;
  width: 230px;
  padding: 5px 0px 5px 40px;
  background: #33445A url('../img/icon-search.png') no-repeat 6% 50%;
  opacity: 0.5;
  color: #293449;
  outline: none;
  border: none;
}

.search-top input:hover {
  opacity: 1;
  background: #212A3A url('../img/icon-search.png') no-repeat 6% 50%;
  color: #000000;
}

.search-top input:active {
  font-family: "Cuprum", Arial, sans-serif;
  background: #FFFFFF;
  opacity: 1;
}

.search-top {
  position: relative;
}

.search-top label {
  position: absolute;
  color: #FFFFFF;
  left: 48px;
  top: 12px;
}

.search-top input:focus {
  background: #FFFFFF url('../img/icon-search-red.png') no-repeat 6% 50%;
  opacity: 1;
}

.search-top input[type=text]:active+label {
  color: #FFFFFF;
}

.search-top input[type=text]:focus+label {
  display: none;
}

.top-bookmarks, .top-basket, .top-order {
  position: relative;
  overflow: hidden;
}

.top-bookmarks::before {
  content: "";
  position: absolute;
  background: url('../img/icon-bookmark.png') no-repeat 5% 50%;
  left: 17px;
  top: 5px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.top-bookmarks:hover::before {
  opacity: 1;
}

.top-bookmarks:hover:active {
  opacity: 0.2;
}

.top-bookmarks a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 17px;
  line-height: 42px;
  padding: 12px 30px 12px 45px;
}

.top-bookmarks a:hover {
  background: #212A3A;
}

.top-basket::before {
  content: "";
  position: absolute;
  background: url('../img/icon-basket.png') no-repeat 5% 50%;
  left: 12px;
  top: 5px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.top-basket:hover::before {
  opacity: 1;
}

.top-basket:hover:active {
  opacity: 0.2;
}

.top-basket a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 17px;
  line-height: 42px;
  padding: 12px 30px 12px 45px;
}

.top-basket a:hover {
  background: #212A3A;
}

.top-order a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 17px;
  line-height: 42px;
  padding: 12px 23px 12px 20px;
  background: #63A63E;
}

.top-order a:hover {
  background: #5FBB2D;
}

.top-order:hover:active {
  opacity: 0.2;
}

.header-block {
  background: #F2F6F8;
  padding-bottom: 65px;
}

.header-middle {
  margin-bottom: 39px;
}

.about-shop {
  padding-top: 47px;
}

.header-info {
  margin: 2px 39px 0 52px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  color: #EE3643;
  float: left;
  width: 200px;
}

.header-middle-contacts {
  float: left;
  width: 267px;
  position: relative;
  margin: 0 0 0 30px;
}

.phone {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #FFFFFF;
  font-size: 21px;
  line-height: 17px;
  color: #E9292A;
  margin: 0;
  padding: 11px 47px 10px 71px;
}

.phone::before {
  content: "";
  position: absolute;
  background: url('../img/icon-phone.png') no-repeat 50%;
  left: 8px;
  top: 5px;
  width: 30px;
  height: 30px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425C;
  margin: 7px 0 0 8px;
}

.entry {
  float: right;
  padding-left: 50px;
  position: relative;
  font-size: 21px;
  line-height: 18px;
}

.login, .registration {
  text-decoration: none;
  background: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  padding: 13px 25px;
  color: #000000;
}

.login {
  padding-left: 46px;
  margin-right: 2px
}

.login::before {
  content: "";
  position: absolute;
  background: url('../img/icon-login.png') no-repeat 50%;
  left: 56px;
  top: 5px;
  width: 30px;
  height: 30px;
}

.login:hover::before {
  content: "";
  position: absolute;
  background: url('../img/icon-login-hover.png') no-repeat 50%;
  left: 56px;
  top: 5px;
  width: 30px;
  height: 30px;
}

.login:hover, .registration:hover {
  color: #EE3643;
}

.login:active, .registration:active {
  opacity: 0.2;
}

.registration {
  margin-left: 0;
}

.header-bottom {
  clear: both;
  margin: 0;
  padding-left: 22px;
  font-size: 0;
  list-style: none;
  background: #33445A;
  box-shadow: #293449 0 5px 0;
}

.header-bottom a {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 20px 32px 18px 29px;
}

.header-bottom a:hover {
  background: #293449;
}

.header-bottom a:active {
  opacity: 0.2;
}


/* main */

.main-block {
  background-color: #FFFFFF;
  margin-top: 59px;
  margin-bottom: 32px;
}

.offer-block {
  float: left;
  position: relative;
  width: 300px;
  min-height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.slider {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  position: relative;
}

.slider-btn {
  position: absolute;
  text-decoration: none;
  top: 206px;
  left: 25px;
  width: 195px;
}

.back {
  position: absolute;
  top: 113px;
  left: 25px;
  width: 22px;
  height: 40px;
  background: url('../img/arrow-left.png') no-repeat 0 0;
  border: none;
}

.forward {
  position: absolute;
  top: 113px;
  right: 20px;
  width: 22px;
  height: 40px;
  background: url('../img/arrow-right.png') no-repeat 0 0;
  border: none;
}

.forward:hover, .back:hover {
  cursor: pointer;
}

.forward-check {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: url(../img/slider-dot.png) no-repeat 0 0;
  bottom: 38px;
  right: 293px;
  border: none;
}

.back-check {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background: url(../img/slider-indicator.png) no-repeat 0 0;
  bottom: 38px;
  left: 295px;
  border: none;
}

.materials {
  background: #FFBF47 url('../img/icon-materials.png') no-repeat 211px 30px;
}

.instruments {
  background: #3BBCE3 url('../img/icon-instruments.png') no-repeat 195px 32px;
}

.technics {
  background: #DC91D8 url('../img/icon-technics.png') no-repeat 190px 30px;
}

.sales {
  background: #8ED78F url('../img/icon-sales.png') no-repeat 195px 26px;
}

.delivery {
  background: #FFC047 url('../img/icon-delivery.png') no-repeat 190px 30px;
}

.technics, .delivery, .sales {
  margin-right: 0;
  float: right;
}

.offer-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 20px 0px 12px 23px;
  overflow: hidden;
    max-width: 180px;
}

.offer-click {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  margin: 0;
  margin-left: 24px;
  width: 125px;
  height: 15px;
  padding: 12px 5px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.offer-click:hover {
  background: rgba(0, 0, 0, 0.2);
}

.offer-click:active {
  background: rgba(0, 0, 0, 0.3);
}

.materials-list {
  background: rgba(0, 0, 0, 0.1);
}

.slider-2 {
  display: none;
}

.slider {
  float: left;
  margin-right: 20px;
}

.slider-title {
  position: absolute;
  top: 26px;
  left: 24px;
}

.slider-title h2 {
  font-size: 36px;
  line-height: 30px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
}

.slider-title p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.popular-banner {
  background: #F9F5F0;
  margin-bottom: 20px;
  width: auto;
}

.popular-banner a {
  float: right;
  text-decoration: none;
  width: 251px;
  margin: 26px;
}

.accent-title {
  float: left;
  line-height: 30px;
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #3D546E;
}

.goods-title {
  width: 300px;
  padding-top: 30px;
  margin-left: 27px;
}

.btn {
  display: block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #EE3643;
  border-radius: 3px;
  padding: 10px 0;
}

.btn:hover {
  background: #CA2C37;
}

.btn:active {
  background: #BA2732;
}

.popular-items-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 0;
}

.catalog-item {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 220px;
  max-height: 318px;
  box-sizing: border-box;
  min-height: 318px;
  margin: 0 20px 20px 0;
  border: 1px solid #ccc;
  font-weight: bold;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item-image {
  margin: auto;
  z-index: 0;
}

.catalog-item-image img {
  width: auto;
}

.catalog-item .title {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 0 30px;
  font-size: 18px;
  line-height: 20px;
  margin: 25px 0 11px 0;
  max-height: 40px;
  overflow: hidden;
}

.price-old {
  color: #A9A9A9;
  font-size: 17px;
  text-decoration: line-through;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

.price {
  display: block;
  text-decoration: none;
  position: absolute;
  left: 41px;
  bottom: 21px;
  color: #FFFFFF;
  width: 136px;
  text-align: center;
  background: #EE3643;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  margin: 0 auto;
  padding: 10px 3px 10px 0px;
  border-radius: 3px;
}

.price::after {
  content: "";
  position: absolute;
  border: 19px solid #FFFFFF;
  border-left-color: #EE3643;
  top: 0px;
  right: -20px;
}

.catalog-item-buttons {
  display: none;
  position: absolute;
  top: 2px;
  left: 0;
  width: 218px;
  height: 83px;
  padding: 40px 0;
  z-index: 10;
  background: #FFFFFF;
}

.catalog-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  background: #60A03C;
  border-radius: 5px;
}

.catalog-item-buy {
  padding: 12px 0;
  border-bottom-color: #367315;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.catalog-item-buy:hover {
  background: #5FBB2D;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.catalog-item-buy:active {
  background: #518534;
  box-shadow: inset 0 -3px 0 0 #518534;
}

.catalog-item-bookmark {
  padding: 8px 0;
  background: #FFFFFF;
  color: #32425C;
  border: 3px solid #60A03C;
  width: 129px;
}

.catalog-item-bookmark:hover {
  border: 3px solid #32425C;
}

.catalog-item-bookmark:active {
  opacity: 0.3;
}

.catalog-item:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.catalog-item:hover .catalog-item-buttons {
  display: block;
}

.new-flag::after {
  content: "";
  position: absolute;
  background: url('../img/new-flag.png') no-repeat 0 0;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 60px;
  z-index: 20;
}

.makers-title {
  width: 500px;
  padding-top: 30px;
  margin-left: 24px;
}

.vendor-logo {
  display: inline-block;
  vertical-align: top;
  height: 145px;
  width: 220px;
  margin: 0 20px 20px 0;
  border: 1px solid #ccc;
  font-weight: 700;
  vertical-align: top;
  box-sizing: border-box;
}

.vendors-list {
  font-size: 0px;
  margin-bottom: 64px;
}

.vendor-logo:nth-child(4n) {
  margin-right: 0;
}

.vendor-logo:active {
  opacity: 0.3;
}

.vendor-logo:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.services {
  background: #F4F8F9;
  padding-top: 65px;
  margin-bottom: 80px;
}

.services-about {
  margin-bottom: 68px;
}

.about-title {
  margin: 0;
  margin-bottom: 26px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about-title-info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #000000;
}

.service-list {
  padding-bottom: 100px;
}

.service-list-controls {
  position: relative;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-list-control {
  font-family: "Cuprum", sans-serif, Arial;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
  width: 240px;
  text-align: left;
  display: block;
  padding: 13px 0px 16px 22px;
  background-color: #32425C;
  border: none;
  border-bottom: 1px solid #293449;
  border-top: 1px solid #405069;
  outline: none;
  max-height: 61px;
  overflow: hidden;
}

.service-list-control:hover {
  background: #293449;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.service-active {
  background: #FFFFFF;
  color: #32425C;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.service-active:hover {
  background: #FFFFFF;
}

.service-list ul::before {
  content: "";
  position: absolute;
  background: url('../img/service-border.png') no-repeat 0 0;
  width: 10px;
  height: 272px;
  right: 0;
  top: -37px;
}

.service-details {
  position: relative;
  float: right;
  width: 620px;
}

.service-accent-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 35px;
  line-height: 35px;
  font-weight: 700;
  color: #32425C;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}

.warranty-about, .credit-about {
  display: none;
}

.delivery-info {
  width: 280px;
  z-index: 10;
}

.warranty-info {
  width: 365px;
  z-index: 9;
}

.credit-info {
  width: 285px;
  z-index: 9;
}

.delivery-about::after {
  content: "";
  position: absolute;
  background: url("../img/delivery.png") no-repeat 0 0;
  width: 468px;
  height: 259px;
  right: 2px;
  top: 24px;
  z-index: 1;
}

.warranty-about::after {
  content: "";
  position: absolute;
  background: url("../img/warranty.png") no-repeat 0 0;
  width: 468px;
  height: 261px;
  right: -40px;
  top: 20px;
  z-index: 1;
}

.credit-about::after {
  content: "";
  position: absolute;
  background: url("../img/credit.png") no-repeat 0 0;
  width: 468px;
  height: 261px;
  right: 0;
  top: 20px;
  z-index: 1;
}

.service-btn {
  margin-top: 30px;
  width: 195px;
}

.company {
  padding-bottom: 85px;
}

.company-promo-column {
  float: left;
  width: 520px;
}

.company-promo-title, .company-contacts-title {
  margin: 0;
  margin-bottom: 23px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
}

.company-promo-info {
  width: 520px;
  margin-bottom: 23px;
}

.company-promo-info:nth-child(3) {
  width: 390px;
}

.company-promo-info, .company-contacts-info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.company-promo-list {
  margin: 0;
  margin-bottom: 34px;
  list-style: none;
  padding-left: 35px;
}

.company-promo-list li:last-child {
  margin-bottom: 0;
}

.company-promo-list li {
  position: relative;
  margin-bottom: 20px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 19px;
  color: #000000;
}

.company-promo-list li:before {
  content: "";
  position: absolute;
  top: 9px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #FB565A;
}

.company-about-btn {
  width: 220px;
  margin-right: 24px;
  margin-top: 39px;
}

.company-feedback-btn {
  width: 300px;
  margin-right: 24px;
  margin-top: 40px;
}

.company-contacts-column {
  float: right;
  width: 300px;
}

.company-contacts-info {
  width: 180px;
  margin-bottom: 31px;
}

.company-contacts-map {
  display: block;
  width: 300px;
  height: 158px;
}

footer {
  background-color: #32425C;
}

.footer-panel-logo {
  float: left;
  width: 220px;
  padding-top: 17px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background: #EE3643;
  box-shadow: #B52933 0px 5px 0px;
}

.footer-panel-logo:hover {
  background: #CA2C37;
}

.footer-panel-logo:active {
  background: #BA2732;
}

.footer-upper-panel {
  min-height: 63px;
  margin-bottom: 33px;
}

.footer-panel-contacts {
  float: right;
  width: 600px;
  font-size: 0;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  list-style: none;
  text-align: right;
}

.footer-panel-contacts li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 51px;
  text-align: right;
}

.footer-panel-contacts li:last-child {
  margin-right: 0;
}

.footer-panel-contacts a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
}

.footer-panel-contacts a:hover, .footer-panel-offer a:hover {
  text-decoration: underline;
}

.footer-panel-contacts a:active, .footer-panel-offer a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-middle-panel {
  margin-bottom: 50px;
}

.footer-panel-address {
  float: left;
  width: 330px;
}

.footer-panel-address p {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.footer-panel-address .footer-phone {
  text-align: left;
  padding-left: 4px;
}

.footer-panel-offer {
  font-size: 0;
  text-align: right;
}

.footer-panel-offer li {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding-top: 0px;
  margin-left: 59px;
}

.footer-panel-offer a {
  text-decoration: none;
  color: #FFDA96;
  font-size: 18px;
  line-height: 24px;
}

.footer-bottom-panel {
  padding-top: 36px;
  padding-bottom: 35px;
  background-color: #293449;
}

.footer-bottom-copyright {
  float: left;
  width: 240px;
  margin-right: 150px;
}

.footer-bottom-copyright p, .footer-bottom-feedback p, .footer-bottom-design p {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 18px;
}

.footer-bottom-social {
  float: left;
  width: 135px;
  margin-right: 117px;
  min-height: 40px;
  font-size: 0;
  margin-top: -4px;
}

.footer-social-btn {
  display: inline-block;
  vertical-align: top;
  width: 42px;
  height: 42px;
  line-height: 43px;
  border-radius: 50%;
  background: #212A3A;
  font-size: 0;
  line-height: 0;
  color: transparent;
  text-shadow: none;
  margin-right: 4px;
}

.footer-social-btn:last-child {
  margin-right: 0;
}

.footer-bottom-feedback {
  float: left;
  width: 140px;
}

.footer-social-vk {
  background: #212A3A url("../img/vk.png") no-repeat 45% 60%;
}

.footer-social-fb {
  background: #212A3A url("../img/fb.png") no-repeat 50%;
}

.footer-social-inst {
  background: #212A3A url("../img/inst.png") no-repeat 49%;
}

.footer-social-btn:hover, .footer-social-btn:active {
  background-color: #EE3643;
}

.footer-bottom-design {
  float: right;
  width: 110px;
}

.footer-bottom-design a, .footer-bottom-feedback a {
  font-size: 16px;
  line-height: 18px;
  color: #FFD180;
  text-decoration: none;
}

.footer-bottom-design a:hover, .footer-bottom-feedback a:hover {
  text-decoration: underline;
}

.footer-bottom-design a:active, .footer-bottom-feedback a:active {
  color: #D43B48;
  text-decoration: none;
}


/* catalog.html */

.basket-cat a {
  background-color: #EE3643;
  padding-right: 25px;
}

.header-middle-user {
  font-size: 0;
  width: 300px;
}

.header-block-user {
  position: relative;
  display: block;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 45px;
  background-color: #FFFFFF;
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  line-height: 21px;
}

.header-block-user::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  left: 14px;
  background: url("../img/icon-user.png") no-repeat 0 0;
}

.header-block-user:hover {
  color: #EE3643;
}

.header-block-user:hover::before {
  background: url("../img/icon-user-fill.png") no-repeat 0 0;
}

.header-block-user:active, .header-block-user:active::before {
  opacity: 0.3;
}

.header-block-links {
  padding-top: 9px;
}

.header-block-links a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 19px;
  margin-right: 13px;
}

.logout {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13px;
  left: 319px;
  background: url("../img/icon-logout.png") no-repeat 0 0;
}

.logout:hover {
  background: url("../img/icon-logout-fill.png") no-repeat 0 0;
}

.logout:active {
  opacity: 0.3;
}

.header-middle-user a:last-child {
  margin-right: 0;
}

.header-links-element {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #32425C;
}

.header-links-element:last-child::before {
  content: "";
  opacity: 1;
  position: absolute;
  top: 7px;
  left: -16px;
  width: 5px;
  height: 5px;
  background-color: #32425C;
  border-radius: 50%;
}

.header-links-element:hover {
  color: #EE3643;
}

.header-links-element:active {
  opacity: 0.3;
}

.breadcrumbs {
  padding: 0;
  margin: 20px 20px 20px 30px;
  position: relative;
}

.breadcrumbs a, .breadcrumbs span, .catalog-options span, .catalog-paginator a, .catalog-paginator span, .catalog-filter-column p {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.breadcrumbs li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

.breadcrumbs:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 1px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-home.png") no-repeat 0 0;
}

.breadcrumbs li:first-child:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-right.png") no-repeat 0 0;
}

.breadcrumbs li:first-child:after {
  content: "";
  position: absolute;
  left: 92px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-right.png") no-repeat 0 0;
}

.breadcrumbs li:last-child:before {
  content: "";
  position: absolute;
  left: 212px;
  top: 2px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-right.png") no-repeat 0 0;
}

.catalog-header {
  background: #F2F6F8;
  color: #32425C;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px 0px 28px 28px;
  margin: 0 0 20px;
}

.side-left {
  float: left;
  width: 220px;
  position: relative;
  margin: 0 0 60px;
}

.side-topbar {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  background: #F7F3EC;
  padding: 11px 0 11px 19px;
  margin: 0 0 19px;
}

.side-left .side-topbar {
  margin: 0 0 11px;
}

.side-left h3 {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  display: block;
  margin-bottom: 12px;
}

.price-range {
  position: relative;
  font-size: 17px;
  font-family: "PT sans", Arial, sans-serif;
  font-style: normal;
  width: 220px;
  padding: 0 0 37px;
}

.price-range h3:after {
  content: "";
  width: 20px;
  height: 15px;
  background: url("../img/technomart-sprites.png") no-repeat -150px -84px;
  left: 180px;
  position: absolute;
  top: 5px;
  opacity: 0.5;
}

.price-range h3:hover:after {
  opacity: 1;
}

.price-range h3:active:after {
  opacity: 0;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  padding: 0 30px;
  background: #F7F3EC;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 40px;
  height: 2px;
  background: #D7DCDE;
}

.range-controls .bar {
  height: 2px;
  background: #00CA74;
  width: 83%;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ABABAB;
  position: absolute;
  top: 31px;
  left: 19px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #CFCFCF;
}

.range-controls .max-toggle {
  left: 158px;
}

.price-controls input {
  width: 97px;
  padding: 10px 0px 10px 0px;
  border: none;
  background: #F7F3EC;
  font-size: 16px;
  font-style: normal;
  text-align: center;
  color: #283136;
  border-radius: 5px;
}

.price-controls span {
  margin-right: 5px;
}

.price-controls .min-price {
  margin-right: 5px;
}

.price-controls {
  white-space: nowrap;
}

.makers {
  padding: 0 0 34px;
  position: relative;
}

.makers h3 {
  margin-top: 5px;
}

.makers h3:before {
  content: "";
  width: 220px;
  height: 1px;
  background: #E5E5E5;
  left: 0;
  position: absolute;
  top: -17px;
}

.power-type {
  padding: 0 0 74px;
  position: relative;
}

.power-type h3:before {
  content: "";
  width: 220px;
  height: 1px;
  background: #E5E5E5;
  left: 0;
  position: absolute;
  top: -17px;
}

.checkbox, .radiobutton {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 0 13px;
}

.checkbox:last-child, .radiobutton:last-child {
  padding: 0;
}

.makers input, .power-type input {
  display: none;
}

.makers label, .power-type label {
  padding: 2px 0 5px 35px;
}

.makers .checkbox label {
  background: url("../img/check-off.png") no-repeat 0 0;
}

.makers input:checked+label {
  background: url("../img/check-on.png") no-repeat 0 0;
}

.makers input:checked:disabled+label {
  background: url("../img/check-on.png") no-repeat 0 0;
  opacity: 0.3;
}

.makers input:disabled+label {
  background: url("../img/check-off.png") no-repeat 0 0;
  opacity: 0.3;
}

.power-type .radiobutton label {
  background: url("../img/circle.png") no-repeat 0 0;
}

.power-type input:checked+label {
  background: url("../img/circle-dot.png") no-repeat 0 0;
}

.makers .checkbox label:hover {
  background: url("../img/check-off-h.png") no-repeat 0 0;
}

.makers input:checked+label:hover {
  background: url("../img/check-on-h.png") no-repeat 0 0;
}

.power-type .radiobutton label:hover {
  background: url("../img/circle-h.png") no-repeat 0 0;
}

.power-type input:checked+label:hover {
  background: url("../img/circle-dot-h.png") no-repeat 0 0;
}

.power-type input:checked:disabled+label {
  background: url("../img/circle-dot-h.png") no-repeat 0 0;
  opacity: 0.3;
}

.power-type input:disabled+label {
  background: url("../img/circle-h.png") no-repeat 0 0;
  opacity: 0.3;
}

.filter-btn {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 11px 38px 8px;
}

.filter-btn:hover {
  cursor: pointer;
}

.side-right {
  float: right;
  width: 700px;
  margin: 0;
}

.sort-controls {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
}

.sort-controls li {
  display: inline-block;
  vertical-align: top;
  margin: 0 30px;
}

.sort-controls li:last-child {
  margin: 0 10px;
}

.sort-option {
  padding: 10px 5px 1px;
  color: #BCBCBC;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  border-bottom: 1px dotted #EE3643;
}

.sort-option:hover {
  color: #000000;
  border-bottom: 1px solid #EE3643;
}

.sort-option:active {
  color: #F9C2C6;
  border: none;
}

.sort-option-active {
  color: #EE3643;
  border-bottom: none;
}

.sort-option-active:hover {
  color: #EE3643;
  border-bottom: none;
}

.sort-option-active:active {
  color: #EE3643;
  border-bottom: none;
}

.sort-down, .sort-up {
  padding: 10px;
  margin: 0 5px 0 0;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

.sort-down::before {
  background: url("../img/icon-down-b.png") no-repeat 0 0;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 4px;
  right: 18px;
  opacity: 0.5;
}

.sort-up::before {
  opacity: 1;
  background: url("../img/icon-up-dir.png") no-repeat 0 0;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 4px;
  right: 50px;
}

.sort-down:hover::before {
  background: url("../img/icon-down-b.png") no-repeat 0 0;
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 4px;
  right: 18px;
  opacity: 1;
}

.catalog-page {
  margin-bottom: 31px;
}

.catalog-item+.catalog-list {
  margin-right: 20px;
}

.catalog-list:nth-child(3n) {
  margin-right: 0;
}

.catalog-paginator {
  font-size: 0;
  margin-bottom: 60px;
}

.catalog-paginator .catalog-paginator-active {
  border: 1px solid #EE3643;
  background-color: #EE3643;
}

.catalog-paginator a, .catalog-paginator span {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  padding: 10px 14px 10px 15px;
}

.catalog-paginator .catalog-paginator-next {
  padding-left: 31px;
  padding-right: 31px;
}

.catalog-paginator span {
  color: #FFFFFF;
}

.catalog-paginator a:hover, .filter-btn:hover {
  border: 1px solid #BDC6CA;
}

.catalog-paginator a:active, .filter-btn:active {
  border: 1px solid #EE3643;
  color: #B2B2B2;
}

.about-product {
  background: #F2F6F8;
}

.about-product h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 24px;
}

.text-container {
  text-transform: uppercase;
  padding: 62px 0 68px;
}

.text-container p {
  font-family: "PT sans", Arial, sans-serif;
  color: #000000;
  line-height: 24px;
  margin: 0;
  text-transform: none;
}


/* feedback-form */

.feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  padding-top: 48px;
  margin-top: -250px;
  margin-left: -300px;
  border-top: solid 7px #EE3643;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  z-index: 999;
}

label {
  display: block;
  cursor: pointer;
}

.feedback-left-column {
  float: left;
  width: 220px;
}

.feedback-right-column {
  float: right;
  width: 220px;
}

.red-cross {
  position: absolute;
  top: 14px;
  right: 10px;
  width: 25px;
  height: 5px;
  transform: rotate(45deg);
  background: #EE3643;
  font-size: 40px;
  font-weight: 400;
  outline: none;
  border: none;
}

.red-cross:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 5px;
  transform: rotate(-90deg);
  background: #EE3643;
  font-size: 40px;
  font-weight: 400;
}

.red-cross:hover {
  cursor: pointer;
}

.feedback-userdata, .feedback-block-buttons {
  padding-left: 80px;
  padding-right: 80px;
}

.feedback-block {
  margin-bottom: 23px;
}

.feedback-block input {
  width: 202px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 14px;
  border: 2px solid #d7dcde;
  border-radius: 5px;
}

.feedback label {
  margin-bottom: 11px;
}

.feedback-data {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.feedback input, .feedback textarea {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

textarea {
  width: 440px;
  height: 98px;
  padding-top: 9px;
  padding-left: 14px;
  margin-bottom: 30px;
  border: 2px solid #D7DCDE;
  border-radius: 5px;
  overflow: auto;
  resize: none;
}

.feedback-block-buttons {
  background-color: #F1F1F1;
  padding: 37px 80px;
}

.feedback-btn {
  width: 100%;
  border: none;
}

.feedback-btn:hover {
  cursor: pointer;
}


/* cart-window-order */

.cart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 620px;
  padding-top: 66px;
  margin-top: -200px;
  margin-left: -300px;
  border-top: solid 7px #EE3643;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  z-index: 999;
}

.cart-title {
  position: relative;
  margin: 0;
  margin-left: 180px;
  margin-bottom: 68px;
  font-size: 30px;
  line-height: 30px;
}

.cart-title::before {
  content: "";
  position: absolute;
  top: -19px;
  left: -102px;
  width: 66px;
  height: 66px;
  background: url("../img/cart-ok.png") no-repeat 0 0;
}

.cart-decision {
  background-color: #F1F1F1;
  padding: 37px 0;
  font-size: 0;
}

.cart-order-btn {
  display: inline-block;
  vertical-align: top;
  margin-left: 80px;
  width: 220px;
  border: none;
  font-size: 14px;
  line-height: 18px;
}

.cart-order-btn:hover, .cart-cancel-btn:hover {
  cursor: pointer;
}

.cart-cancel-btn {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
  background-color: #FFFFFF;
  color: #000000;
  outline: none;
  border: none;
}

.big-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 940px;
  height: 446px;
  margin-top: -200px;
  margin-left: -470px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  background: #EFEAE4;
  z-index: 999;
}
