html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-block {
  font-size: 17px;
  font-family: 'Cuprum';
}

.header-top {
  background: #33445A;
}

.header-top-wrapper {
  display: flex;
}

.logo {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  font-weight: 700;
  background: #EE3643;
  font-size: 24px;
  line-height: 42px;
  width: 220px;
  box-shadow: #B52933 0px 5px 0px;
}

.logo:hover {
  background: #CA2C37;
}

.logo:active {
  background: #BA2732;
}

.search-top input {
  height: 32px;
  width: 230px;
  border: none;
  padding: 5px 0px 5px 40px;
  background: #33445A url('../img/icon-search.png') no-repeat 5% 50%;
  opacity: 0.5;
  color: #293449;
}

.search-top input:hover {
  opacity: 1;
  background: #212A3A url('../img/icon-search.png') no-repeat 5% 50%;
  color: #000;
}

.search-top input:active {
  background: #fff;
  opacity: 1;
}

.search-top {
  position: relative;
}

.search-top label {
  position: absolute;
  color: #fff;
  left: 48px;
  top: 12px;
}

.search-top input:focus {
  background: #fff url('../img/icon-search-red.png') no-repeat 5% 50%;
  opacity: 1;
}

.search-top input[type=text]:active+label {
  color: #fff;
}

.search-top input[type=text]:focus+label {
  display: none;
}

.top-bookmarks, .top-basket, .top-order {
  position: relative;
  overflow: hidden;
}

.top-bookmarks::before {
  content: "";
  position: absolute;
  background: url('../img/icon-bookmark.png') no-repeat 5% 50%;
  left: 17px;
  top: 5px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.top-bookmarks:hover::before {
  opacity: 1;
}

.top-bookmarks:hover:active {
  opacity: 0.2;
}

.top-bookmarks a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 42px;
  padding: 12px 30px 12px 45px;
}

.top-bookmarks a:hover {
  background: #212A3A;
}

.top-basket::before {
  content: "";
  position: absolute;
  background: url('../img/icon-basket.png') no-repeat 5% 50%;
  left: 17px;
  top: 5px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.top-basket:hover::before {
  opacity: 1;
}

.top-basket:hover:active {
  opacity: 0.2;
}

.top-basket a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 42px;
  padding: 12px 30px 12px 45px;
}

.top-basket a:hover {
  background: #212A3A;
}

.top-order a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 42px;
  padding: 12px 24px 12px 20px;
  background: #63A63E;
}

.top-order a:hover {
  background: #5FBB2D;
}

.top-order:hover:active {
  opacity: 0.2;
}

.header-block {
  background: #F2F6F8;
  padding-bottom: 65px;
}

.header-middle {
  margin-bottom: 45px;
}

.about-shop {
  padding-top: 45px;
}

.header-info {
  margin: 0 20px 0 40px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  color: #EE3643;
  float: left;
  width: 200px;
}

.header-middle-contacts {
  float: left;
  width: 266px;
  position: relative;
  margin: 0 0 0 30px;
}

.phone {
  display: inline-block;
  border: 2px solid #fff;
  font-size: 21px;
  line-height: 17px;
  color: #E9292A;
  margin: 0;
  padding: 9px 45px 9px 70px;
}

.phone::before {
  content: "";
  position: absolute;
  background: url('../img/icon-phone.png') no-repeat 50%;
  left: 15px;
  top: 5px;
  width: 30px;
  height: 30px;
}

.address {
  font-size: 14px;
  line-height: 24px;
  color: #32425C;
  margin: 5px 0 0 0;
}

.entry {
  float: right;
  padding-left: 67px;
  position: relative;
  font-size: 21px;
  line-height: 18px;
}

.login, .registration {
  text-decoration: none;
  background: #fff;
  display: inline-block;
  padding: 12px 25px;
  color: #000;
}

.login {
  padding-left: 49px;
  margin-right: 5px
}

.login::before {
  content: "";
  position: absolute;
  background: url('../img/icon-login.png') no-repeat 50%;
  left: 80px;
  top: 5px;
  width: 30px;
  height: 30px;
}

.login:hover::before {
  content: "";
  position: absolute;
  background: url('../img/icon-login-hover.png') no-repeat 50%;
  left: 80px;
  top: 5px;
  width: 30px;
  height: 30px;
}

.login:hover, .registration:hover {
  color: #EE3643;
}

.login:active, .registration:active {
  opacity: 0.2;
}

.registration {
  margin-left: 0;
}

.header-bottom {
  clear: both;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
  background: #33445A;
  box-shadow: #293449 0 5px 0;
  flex-flow: wrap;
}

.header-bottom a {
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  padding: 21px 33.3px;
}

.header-bottom a:hover {
  background: #293449;
}
